body {
	margin: auto;
	background-color: #a6ff4d ;
	font: 18px calibri, sans-serif;
}

.container  {
	width: 800px;
	margin: auto;
}
.header {
	list-style: none;
	padding: 30px; 
}

.banner {
	height: 300px;
	background-image: url(dreamies.jpg);
	background-position: 0 -10px;
	border-top: 5px solid #55552b;
	border-bottom: 5px solid #55552b;
}

.isi {
	padding: 15px;
	}

p {
	font-size: 12pt;
}

a {
	text-decoration-style: none;
	color: darkolivegreen;
	font-weight: bold;
}